NodeRED Flows/dcJackVoltage_Flow.json
[{"id":"282275c6.b3fbaa","type":"tab","label":"DC Jack Voltage","disabled":false,"info":""},{"id":"cd6376bb.b46188","type":"inject","z":"282275c6.b3fbaa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":200,"wires":[["a5d05a57.6fe778"]]},{"id":"a5d05a57.6fe778","type":"file in","z":"282275c6.b3fbaa","name":"DC Jack Voltage Data FIle","filename":"/tmp/DC_Jack_Voltage","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":530,"y":200,"wires":[["b474f43e.edc758"]]},{"id":"b474f43e.edc758","type":"ui_gauge","z":"282275c6.b3fbaa","name":"DC Jack Voltage","group":"bc125c5.7d2c2a","order":0,"width":0,"height":0,"gtype":"gage","title":"DC Jack Voltage","label":"Volts","format":"{{value}}","min":"0","max":"12","colors":["#ca3838","#e6e600","#00b500"],"seg1":"9.5","seg2":"10.75","x":820,"y":200,"wires":[],"icon":"font-awesome/fa-battery"},{"id":"bc125c5.7d2c2a","type":"ui_group","name":"Diagnostics","tab":"3eb24892.1fa158","order":1,"disp":true,"width":"6","collapse":true},{"id":"3eb24892.1fa158","type":"ui_tab","name":"SCUTTLE","icon":"dashboard","disabled":false,"hidden":false}]