NodeRED Flows/Lab3_Flow.json
[{"id":"49a34e89.8c3c8","type":"tab","label":"Compass","disabled":false,"info":""},{"id":"5fd7a278.4574fc","type":"inject","z":"49a34e89.8c3c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["e1224445.733208","786a7bb3.bd5064"]]},{"id":"e1224445.733208","type":"file in","z":"49a34e89.8c3c8","name":"Heading Degrees","filename":"/home/debian/basics/heading.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":240,"wires":[["73ede19a.bcc3f"]]},{"id":"73ede19a.bcc3f","type":"ui_gauge","z":"49a34e89.8c3c8","name":"Heading Direction","group":"9170a152.e84a1","order":0,"width":"5","height":"5","gtype":"compass","title":"","label":"Degrees","format":"{{value}}","min":"0","max":"360","colors":["#ca3838","#e6e600","#00b500"],"seg1":"9.5","seg2":"10.75","x":730,"y":240,"wires":[],"inputLabels":["Heading Degrees"],"icon":"font-awesome/fa-compass"},{"id":"786a7bb3.bd5064","type":"file in","z":"49a34e89.8c3c8","name":"Cardinal Direction","filename":"/home/debian/basics/cardinal_direction.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":320,"wires":[["23996ce8.f64184"]]},{"id":"23996ce8.f64184","type":"ui_text","z":"49a34e89.8c3c8","group":"9170a152.e84a1","order":1,"width":"5","height":"1","name":"","label":"Cardinal Direction","format":"{{msg.payload}}","layout":"col-center","x":730,"y":320,"wires":[],"info":"<html>\n    <h1>Cardinal Orientation</h1>\n</html>"},{"id":"9170a152.e84a1","type":"ui_group","name":"Directional Info","tab":"d9437511.d9d008","order":1,"disp":true,"width":"5","collapse":false},{"id":"d9437511.d9d008","type":"ui_tab","name":"System Info","icon":"dashboard","order":2,"disabled":false,"hidden":false}]